body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #3c4147;
}

.laptop {
  height: 12px;
  width: 360px;
  background-color: #a29da1;
  border-radius: 0 0 7px 7px;
}

.screen {
  height: 200px;
  width: 300px;
  background-color: #000;
  border: 1px solid #a29da1;
  border-radius: 10px 10px 0 0;
  padding: 10px 10px 0 10px;
}
.menu {
  height: 15px;
  display: flex;
  align-items: center;
  background-color: #202124;
  border-radius: 10px 10px 0 0;
  margin: 0;
}
.dot1 {
  height: 5px;
  width: 5px;
  background-color: #ff564f;
  border-radius: 50%;
  margin: 0 2px 0 3px;
}
.dot2 {
  height: 5px;
  width: 5px;
  background-color: #ffbd2f;
  border-radius: 50%;
  margin: 0 2px 0 0;
}
.dot3 {
  height: 5px;
  width: 5px;
  background-color: #27ca3f;
  border-radius: 50%;
}

.window-top {
  width: 60px;
  height: 10px;
  background-color: #35363a;
  border-radius: 4px 4px 0 0;
  margin: 0 0 0 7px;
  align-self: flex-end;
  position: relative;
}
.window-top::before {
  content: 'New Tab';
  font-size: 4px;
  position: absolute;
  top: 3.5px;
  left: 3px;
  color: #fff;
}
.window-top::after {
  content: 'x';
  color: #fff;
  font-size: 4px;
  position: absolute;
  top: 4px;
  right: 3px;
}

.screen-content {
  height: 100%;
  background-color: #35363a;
  border-radius: 10px 10px 10px 10px;
}

.window {
  position: relative;
}

.iframe {
  position: absolute;
  top: 10px;
  left: -85px;
}
/*
.desk {
  height: 25px;
  width: 100%;
  background-color: #bc9370;
  border-radius: 7px 7px 2px 2px;
}
*/
